* {
  box-sizing: border-box;
}
.glb-models .scrollable {
  max-height: 100vh;
  overflow-y: scroll;
  /* scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory; */
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
}

.glb-models .page {
  height: 100vh;
  width: 100%;
}

.glb-models .page .content {
  background: #1e007f;
  color: #fff;
  padding: 3rem;
  width: 10vw;
}

.glb-models .canvas-container {
  height: 100vh;
  width: 100%;
}

.glb-models .variants {
  position: fixed;
  top: 100px;
  left: 16px;
  z-index: 100;
}
